/*TODO:
- fix the clear search [x] style
- Make the search icon clickable
- stylize the scrollbar for firefox

[mobile version]
- fix the header-bar (filter section)
    a) top part needs to be squeezed
    b) bottom part might replace the text with icons only (js)

- create dropdown menu for filter, dropdown menu for sort by
- javascript action events for:
    ***DONE*** a) Global - Local button (active vs non active)
    b) Animation for dropdown menus (filter and sort)
    c) category filter to work based on the card category 
        (select one or more buttons and display results based on the selection. 
        selected buttons should have active state)
     ***DONE*** d) Filter by tags
- different user role have different privilegies, hence there will be different views

- blocks where action should be replaced based on the type of user: 
design all buttons and hide them based on the user role
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f2f1f0;
  font-family: "Roboto Slab", serif;
}
.wrapper {
  display: flex;
  position: fixed;
  bottom: 30px;
  left: 70px;
  top: 30px;
}
.wrapper > *:nth-child(.content) {
  flex: 1 1 75%;
}
.wrapper > *:nth-child(.sidebar) {
  flex: 1 1 25%;
}
.content {
  min-width: 75vw;
}
.top-container {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.top-container h3 {
  font-size: 32px;
  font-weight: 400;
}
.notification {
  margin: 10px;
  padding: 10px;
  height: 40px;
  border-radius: 4px;
  width: auto;
  display: flex;
  background-color: white;
}
.notification p {
    /* font-size: auto; */
    margin-left: 20px;
    color: #FF0000;
}
/* Filter */
.title-bar {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  min-height: 30px;
  border-bottom: 2px solid;
  border-color: white;
}
.title {
  display: flex;
  font-size: 14px;
  color: #8f8884;
  padding-left: 10px;
}
/* .nav-btn {
    flex-grow: 1;
} */

/* Tab links */
.tablink {
  display: inline-block;
  border: none;
  border-radius: 5px 5px 0 0;
  color: #8f8884;
  background-color: transparent;
  margin-left: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.tablink:hover {
  background-color: #dedbd9;
}
.tabcontent {
  display: none;
  height: 100%;
}
/* .notification-circle {
    height: 20px;
    width: 20px;
    background-color: #FFCB05;
    border-radius: 50%;
    margin-left: 10px;
    display: inline-block;  
} */
.search-box {
  margin: 10px;
  height: 20px;
  width: 240px;
  display: flex;
}
.search-box input {
  background-color: transparent;
  width: 100%;
  border: none;
}
.search-box input:focus {
  outline: none;
  color: #8f8884;
}
::placeholder {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  color: #8f8884;
}
.filter-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 16px;
  height: 50px;
  color: #8f8884;
}
/* .filter-container img {
    object-fit: cover;
} */
.filter-by {
  display: flex;
  padding: 8px;
  border-bottom: 2px solid #dedbd9;
}
.filter-by p {
  margin: 0 50px 0 20px;
}

.tag-filter {
  align-self: center;
  /* when block will be hidden --> 
    display: none; */
}

.tag-btn {
  color: #8f8884;
  background-color: transparent;
  border: 1px solid #dedbd9;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.active-btn {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
}
.sort-by {
  display: flex;
  padding: 8px;
}
.sort-by p {
  margin-right: 20px;
}
.hide {
  display: none;
}
/* input::-webkit-search-cancel-button{
fix the clear search [x] style 
}*/

/* GRID */
.grid-container {
  display: grid;
  padding-right: 10px;
  padding-bottom: 200px;
  grid-gap: 16px;
  height: 100vh;
  /* width: 100%; */
  overflow-y: scroll;
  overflow-x: hidden;
  /* scrollbar-width: thin;
    scrollbar-color: blue orange;    */
}
.grid-container::-webkit-scrollbar {
  width: 8px;
}
.grid-container::-webkit-scrollbar-track {
  border-radius: 4px;
}
.grid-container::-webkit-scrollbar-thumb {
  background: #cfc7c0;
  border-radius: 4px;
}
.grid-container::-webkit-scrollbar-thumb:hover {
  background: #b4aca6;
}

/* Video Card */
.col {
  background-color: white;
  padding: 0;
  border: none;
  border-radius: 5px;
  max-width: 240px;
}
.col img {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.card-content {
  padding: 16px;
}
.video-description {
  margin: 20px 0;
  font-size: 14px;
  font-weight: 400;
  color: #4f4f4f;
  height: 90px;
}
.card-category {
  display: flex;
  align-content: center;
  justify-content: space-between;
  color: #4f4f4f;
  margin-bottom: 30px;
}
.category-text {
  font-size: 11px;
  min-width: 80px;
}
.col h3 {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  height: 60px;
}
.col p {
  font-size: 14px;
  font-weight: 400;
  color: #4f4f4f;
}
.card-buttons {
  display: flex;
  /* align-content: center; */
  justify-content: space-between;
}
.card-btn {
  background-color: #f2f1f0;
  border: none;
  border-radius: 3px;
  color: #000000;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.card-btn:hover {
  box-shadow: 0px 0px 7px 2px #00000026;
}
.reminder-btn {
  margin: 0 10px 0 10px;
  padding: 10px 25px;
  /* width: 60%; */
}
.reminder-btn:hover {
  color: #ff0000;
}
.card-buttons .icon {
  min-width: 40px;
}

.card-btn img {
  display: block;
  height: 20px;
  max-width: 100%;
}

.sidebar {
  background-color: rgb(240, 219, 204);
}
/* MEDIA */
@media screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 960px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1660px) {
  .reminder-btn {
    /* font-size: 12px; */
  }  
}